;This file can be overriwten by dialer process

[general]
debug=false
log=false
mysqlhost=localhost
mysqluser=dialer
mysqlpassword=dialeri6net
mysqldatabase=dialer
asteriskhost=localhost
asteriskport=5038
asteriskuser=dialer
asteriskpassword=1234


[default]
active=true
debug=false
function=notify
;timeslot=Fri,
;pause=12h-14h
calltoday=true
blacklist=none
maxlines=1
timeout=10000
multiplecalls=false
dialformat=SIP/%s@test
callerid=0033988998899
url=file:///opt/dialer/web/vxml/default.vxml
filter=none
chanvar=0
chanstr=0
skip=0
orderby=attempts_pickups
mode=voximal
retries=0
attempts=1
attemptsdelay=00
clipping=false
timestart=0
timestop=24
ringonly=false
chanvar1=
chanvar2=
sipheader1=
sipheader2=
unanswered=false


